<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/foto perfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Diseñadora Gráfica</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt inventore deleniti mollitia veritatis officia, suscipit dicta! Tenetur impedit praesentium quos consectetur in enim nesciunt id veritatis quasi animi, sapiente quo.</p>
        </span>
    </div>
</div>