<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Revista Digital</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quia unde corporis optio ipsam eos earum, dolor tenetur adipisci laboriosam inventore beatae nihil ea quasi blanditiis? Quis aliquid esse placeat.</p>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/banner.png" class="img-fluid img-proyecto">

        </div>

    </div>

</div>
