.row {
    padding: 25px;
}
div{
    text-align: center;
}
/*foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        left: 3%;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        left: 33%;
    }
}

/*nombre*/
#nombre{
    font-weight: bold;
    margin-top: 35%;
}