<div class="row">
  <h1>Hard & Soft Skills</h1>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
  [percent]="90"
  [radius]="80"
  [imageSrc]="'../../../assets/photoshop.png'"
  [imageHeight]="40"
  [imageWidth]="40"
  [showImage]="true"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Photoshop'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#4782F7'"
  [innerStrokeColor]="'#A8A8A8'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
    </div>
      <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
  [percent]="85"
  [radius]="80"
  [imageSrc]="'../../../assets/illustrator.png'"
  [imageHeight]="40"
  [imageWidth]="40"
  [showImage]="true"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Photoshop'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#EFA82D'"
  [innerStrokeColor]="'#A8A8A8'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
  [percent]="95"
  [radius]="80"
  [imageSrc]="'../../../assets/animate.png'"
  [imageHeight]="40"
  [imageWidth]="40"
  [showImage]="true"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Photoshop'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#AB91FD'"
  [innerStrokeColor]="'#A8A8A8'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
  [percent]="95"
  [radius]="80"
  [imageSrc]="'../../../assets/premiere.png'"
  [imageHeight]="40"
  [imageWidth]="40"
  [showImage]="true"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Photoshop'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#122852'"
  [innerStrokeColor]="'#A8A8A8'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
  [percent]="80"
  [radius]="80"
  [imageSrc]="'../../../assets/indesign.png'"
  [imageHeight]="40"
  [imageWidth]="40"
  [showImage]="true"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Photoshop'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#F55FFF'"
  [innerStrokeColor]="'#A8A8A8'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
  [percent]="70"
  [radius]="80"
  [imageSrc]="'../../../assets/storyline.png'"
  [imageHeight]="48"
  [imageWidth]="48"
  [showImage]="true"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Photoshop'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#F79FFE'"
  [innerStrokeColor]="'#A8A8A8'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
  [percent]="80"
  [radius]="80"
  [imageSrc]="'../../../assets/wordpress.png'"
  [imageHeight]="45"
  [imageWidth]="45"
  [showImage]="true"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Photoshop'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#23A0FC'"
  [innerStrokeColor]="'#A8A8A8'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <circle-progress
  [percent]="60"
  [radius]="80"
  [imageSrc]="'../../../assets/ingles.png'"
  [imageHeight]="45"
  [imageWidth]="45"
  [showImage]="true"
  [showUnits]="false"
  [showSubtitle]="false"
  [title]="'Photoshop'"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#1AC89D'"
  [innerStrokeColor]="'#A8A8A8'"
  [animation]="true"
  [animationDuration]="700"
></circle-progress>
    </div>
</div>